/* Imports */
@import url("/home/skaldesh/.config/waybar/custom.css");

/* Colors */
@define-color text-primary      #ffffff;
@define-color background        rgba(42, 40, 56, 0.65);
@define-color module-background #605672;
@define-color warning           #d07300;
@define-color critical          red;
@define-color border            rgba(133, 129, 159, 0.75);
@define-color border-warning    rgba(255, 255, 255, 0.85);

/* General */
* {
	font-size: 14px;
	font-family: 'Jetbrains Mono';
}

window#waybar {
	color: @text-primary;
    background: @background;
}

/* Modules right */
.modules-right .module {
	margin: 6px 12px 6px 0;
	padding: 6px 16px;
	background: @module-background;
	border: 1px solid @border;
	border-radius: 9999px;

}
#temperature.critical { background: red; }

#battery.warning {
	background: yellow;
	color: black;
}
#battery.critical { background: red; }
#battery.charging.good,
#battery.charging.warning,
#battery.charging.critical {
	background: green;
	color: white;
}

/* Modules left */
#workspaces button {
	background: @module-background;
	color: @text-primary;
	margin: 6px 0 6px 6px;
	border: 1px solid @border;
	border-radius: 9999px;
	font-weight: 900;
}
#workspaces button.focused {
	background: @warning;
	border: 1px solid @border-warning;
}
#workspaces button:hover {
	background: @warning;
}
#mode {
	margin: 6px 0 6px 6px;
	padding: 6px 12px;
	background: @warning;
	font-weight: bold;
	border: 1px solid @border-warning;
	border-radius: 9999px;
}

/* Modules center */
#privacy-item { 
	margin: 6px 6px;
	padding: 6px 8px;
	border-radius: 6px;
}
#privacy-item { background: @warning; }

#custom-recorder {
	padding: 0 10px;
	color: white;
	background: red
}
